---
---

<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">

<head>
  {% include head.html %}
  {% include head/custom.html %}
   <!-- 스크롤바 커스터마이징 -->
   <style> 
    ::-webkit-scrollbar{width: 16px;}
    ::-webkit-scrollbar-track {background-color:#4b4f52; border-radius: 16px;}
    ::-webkit-scrollbar-thumb {background-color:#5e6265; border-radius: 16px;}
    ::-webkit-scrollbar-thumb:hover {background: #fb865c;}
    ::-webkit-scrollbar-button:start:decrement,::-webkit-scrollbar-button:end:increment 
    {
        width:12px;height:12px;background:transparent;
    }  

    
  </style>
</head>

<body
  class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">

  {% include_cached skip-links.html %}
  {% include_cached masthead.html %}
  
  <div class="page__container" style="display: flex; flex-direction: row; gap: 20px; align-items: flex-start;">
    {% if page.layout == "about" or page.layout == "home" %}
      <aside class="sidebar__wrapper" style="flex: 0.5; padding-left: 10px; background-color: #ffffff; border-right: 1px solid #ddd;">
        {% include sidebar.html %}
      </aside>
    {% endif %}
    
    <main class="main__content" style="flex: 6; padding: 20px;">
      {{ content }}
    </main>
  </div>
  {% if site.search == true %}
  <div class="search-content">
    {% include_cached search/search_form.html %}
  </div>
  {% endif %}

  <!--사이드바 위, 아래, 홈버튼 기능 추가-->
  <aside class="sidebar__top">
    <a href="#site-nav"> <i class="fas fa-angle-double-up fa-2x"></i> </a>
  </aside>

  <aside class="sidebar__bottom">
    <a href="#footer"> <i class="fa fa-angle-double-down fa-2x"></i> </a>
  </aside>

  <!-- 라이트모드 토글 추가 -->
  <aside class="dark__toggle">
    {% if site.minimal_mistakes_skin2 %}
    <i class="fas fa-adjust" aria-hidden="true" onclick="node1=document.getElementById('theme_source'); node2=document.getElementById('theme_source_2');
              if(node1.getAttribute('rel')=='stylesheet') {
                node1.setAttribute('rel', 'stylesheet alternate'); 
                node2.setAttribute('rel', 'stylesheet');
                sessionStorage.setItem('theme', 'dark');
              } else {
                  node2.setAttribute('rel', 'stylesheet alternate'); 
                  node1.setAttribute('rel', 'stylesheet');
                  sessionStorage.setItem('theme', 'light');
              } return false;" style="cursor:pointer">
    </i>
    {% endif %}
  </aside>

  <div id="footer" class="page__footer">
    <footer>
      {% include footer/custom.html %}
      {% include_cached footer.html %}
    </footer>
  </div>

  {% include scripts.html %}
</body>

</html>
